= simple_form_for(@<%= singular_name %>) do |f|
  = f.error_notification
<% for attribute in attributes -%>
  = f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %>
<% end -%>

  .actions
    = f.submit 'Salvar'
