#banner
  .title
    %h2 Contactenos
  =link_to image_tag("prueba.png"), "/users/sign_up", :id => "register", :class => 'but'

=form_tag("", :action => "post", :id => "contact") do
  %p= text_field_tag "name", "Nombre", :size => 40
  %p= text_field_tag "name", "Email", :size => 40
  %p= text_area_tag "cont", "Mensaje", :cols => 45, :rows => 4
  %p= submit_tag "Contactar" 

:javascript
