body{
  text-align: center;
  padding: 0px;
  margin: 0px;
  background: transparent url(barra.png) repeat-x;
  font-family: arial, serif;
  font-size: 13px;
}

h1, h2, h3{ font-family: muli; }
a{
  img{ border: none; }
}

@mixin t-shadow($top:1px, $left: 1px, $dif: 0px, $col: $grey){
  text-shadow: $top $left $dif $col;
  -moz-text-shadow: $top $left $dif $col;
  -webkit-text-shadow: $top $left $dif $col;
}

@mixin b-shadow($top:0px, $left: 0px, $dif: 5px, $col: $grey){
  box-shadow: $top $left $dif $col;
  -moz-box-shadow: $top $left $dif $col;
  -webkit-box-shadow: $top $left $dif $col;
}
/* Estilos*/
.but{
  display: inline-block;
}
.clear{ clear: both; 
}
.light-grey{ background-color: lighten($grey, 20%);}
.pad-10{ padding: 10px; }

/**************************************************************/

#wrapper{
  width: 900px;
  text-align: left;
  margin: 40px auto 60px auto;
  background-color: $white;
  @include b-shadow(0px, 0px, 10px, darken($grey, 30%));
  border-radius: 4px 4px 8px 8px;
}


#header{
  position: relative;
  height: 90px;
  #logo{
    position: absolute;
    top: 20px;
    left: 20px;
  }
  #login{
    background: transparent url(user.png) no-repeat;
    position: absolute;
    top: 30px;
    right: 20px;
    padding-left: 20px;
    color: darken($grey, 40%);
    font-size: 15px;
    text-decoration: none;
    &:hover{
      @include t-shadow(1px, 1px, 2px, $grey);
    }
  }
  #menu{
    list-style: none;
    position: absolute;
    top: 15px;
    left: 200px;

    li{
      display: inline;
      float: left;
      a{
        display: block;
        margin: 0px 5px;
        font-family: 'Muli', arial, serif;
        color: darken($grey, 30%);
        text-decoration: none;
        font-size: 20px;
        &:hover{ color: $green; }
        @include t-shadow(1px, 1px, 1px, darken($grey, 20%));
      }
      a.selected{ 
        color: darken($green, 10%);
        text-shadow: 2px 2px 2px darken($grey, 20%);
        -moz-text-shadow: 2px 2px 2px darken($grey, 20%);
        -webkit-text-shadow: 2px 2px 2px darken($grey, 20%);
      }
    }
  }
}
#home{
  background: transparent url(imagenes.png) no-repeat;
  height: 411px;
}
#buttons{
  font-weight: bold;
  font-size: 1.2em;
  a{ 
    vertical-align: middle;
    margin: 0px 3px;
  }
  #register{
    margin-left: 40px;
  }  
}

#boxes{
  margin-top: 20px;
  padding: 0px 40px;
}
.box{
  width: 273px;
  float: left;
  margin: 10px 0px;
  h3{ 
    margin: 5px 10px;
    color: darken($green, 20%);
  }
  p{
    margin: 5px 10px;
    height: 64px;
  }
  img{ margin: 4px 10px;}
}
#titles{
  padding: 5px 100px;
  text-align: center;
}
.title{
  h2{ 
    margin: 10px; color:darken($green, 40%); font-weight: normal; 
    @include t-shadow(0px, 2px, 0px, $white);
  }
}
#buttons{
  padding: 15px;
}
#foots{
  padding: 0px 50px;
}  
.foot{
  width: 80%;
  float: right;
  margin: 10px 5px;
  h3{ margin: 4px; color:darken($green,20%)}
  p{margin: 5px;}
}

#banner{
  position: relative;
  background: transparent url(banner.png) no-repeat;
  height: 101px;
  #register{
    position: absolute;
    top: 20px;
    right: 30px; 
  }
}
#dashboard{
  padding: 50px; 
  border: url(tour_dashboard.png) no-repeat;
}
#finanzas{
  padding: 50px; 
}
#inventarios{
  padding: 50px; 
}

